.chart-series-line {
    -fx-stroke-width: 2px;
    -fx-effect: null;
}

.default-color0.chart-series-line { -fx-stroke: black; }
.default-color1.chart-series-line { -fx-stroke: yellow; }
.default-color2.chart-series-line { -fx-stroke: red; }
.default-color3.chart-series-line {-fx-stroke: blue;}
.default-color4.chart-series-line {-fx-stroke: green;}


.default-color0.chart-line-symbol { -fx-background-color: black, white; }
.default-color1.chart-line-symbol { -fx-background-color: yellow, white; }
.default-color2.chart-line-symbol { -fx-background-color: red, white; }
.default-color3.chart-line-symbol { -fx-background-color: blue, white; }
.default-color4.chart-line-symbol { -fx-background-color: green, white; }